@model ShoppingCart.ViewModels.PurchasesViewModel

@{
    ViewData["Title"] = "My Purchases";
}

@section Scripts
{
    <script src="~/js/purchases/displaypurchases.js"></script>
}

<head>
    <link rel="stylesheet" href="~/css/displaypurchases.css" />
</head>
<body>
    <div id="header">
        <header>
            <h1>My Purchases</h1><span id="total" style="display:none">@Model.Total</span>
        </header>
        <a href="/Product/DisplayProduct"><u>Home</u></a> | <a href="/Logout/Index" id="logout"><u>Logout</u></a>
    </div>
    <div id="body">
        @if (Model.Purchases.Count == 0)
        {
            <span id="empty" style="display:block">
                <br /><br /><br />
                You Have No Purchases
            </span>
        }
        else
        {
            <table class="purchases-table">
                @{
                    foreach (Purchases purchase in Model.Purchases) @* code for generating table *@
                    {
                        <tr>
                            <td width="50%">
                                <h2><b>@purchase.Title</b></h2>
                                <br />
                                <img src="/img/@purchase.Image" class="image" />
                                <br />
                                <p>@purchase.Description</p>
                            </td>
                            <td>
                                <table class="in-table">
                                    <tr><td>Date Purchased:</td><td>@purchase.PurchaseDate</td></tr>
                                    <tr><td>Quantity:</td><td>@purchase.Quantity</td></tr>
                                    <tr>
                                        <td>Activation Code:</td>
                                        @if (purchase.Quantity == 1)@*Code that will either generate a single line or drop down depending on quantity*@
                                        {
                                            <td>@purchase.ActivationCode[0]</td>
                                        }
                                        else
                                        {
                                            <td>
                                                <select name="code">
                                                    @foreach (string code in purchase.ActivationCode)@* Loop that generates the options in the drop down box *@
                                                    {
                                                        <option value="@code">@code</option>
                                                    }
                                                </select>
                                            </td>
                                        }
                                    </tr>
                                </table>
                                <button onclick=" window.open('@purchase.Link', '_target');" type="button" class="dl-button">Download</button>
                            </td>
                        </tr>
                    }
                }
            </table>
        }
    </div>
</body>