@{
    ViewData["Title"] = "Wishlist";
    List<Wish> wishList = (List<Wish>)ViewData["wishlist"];
    int count = (int)ViewData["count"];
}

@section Scripts
{
    <script src="~/js/wish/displaywish.js"></script>
}

<style>
    *#empty {
        text-align: center;
        font-weight: bold;
        font-size: 36px;
    }

    .button3 {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .wish-table {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border-collapse: separate;
        border-spacing: 0 1em;
    }

    .wish-table button {
        width: 100%;
    }

    .wish-table td {
        padding: 10px;
    }

    .wish-table tr {
        background-color: #f7f7f7;
    }

    .wish-table img {
        width: 80%;
    }

    h2 {
        font-size: 16px;
    }

    .image {
        height: 300px;
        width: 100px;
    }

    .buttonforcart {
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: lavender;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        position: fixed;
        top: 100px;
        right: 50px;
    }

    .buttonforcart:hover {
        background-color: #57509f
    }

    .buttonforcart:active {
        background-color: #57509f;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
</style>

<div id="header">
    <header>
        <h1>My Wishlist</h1>
    </header>
    <a href="/Product/DisplayProduct"><u>Home</u></a> | <a href="/Logout/Index" id="logout"><u>Logout</u></a>
</div>
<div id="cart">
    <form action="/Cart/DisplayCart">
        <input type="submit" value="Cart: @count" class="buttonforcart" id="clickme" />
    </form>
</div>
<div id="body">
    @if (wishList.Count() == 0)
    {
        <span id="empty" style="display:block">
            <br /><br /><br />
            Your Wishlist Is Empty
        </span>
    }
    else
    {
        <span id="empty" style="display:none">
            <br /><br /><br />
            Your Wishlist Is Empty
        </span>
        <br />
        <table class="wish-table">
            @{
                foreach (Wish wish in wishList) @* code for generating table *@
                {
                    <tr id="@wish.Id">
                        <td width="50%">
                            <h2><b>@wish.Title</b></h2>
                            <br />
                            <img src="/img/@wish.Image" class="image" />
                            <br />
                            <p>@wish.Description</p>
                        </td>
                        <td>
                            <button cart_id="@wish.Id" type="button" class="button3 add-to-cart">Add to Cart</button>
                            <button remove_id="@wish.Id" type="button" class="button3 remove-from-wish">Remove from Wishlist</button>
                        </td>
                    </tr>
                }
            }
        </table>
    }
</div> 