@model ShoppingCart.ViewModels.WishViewModel

@{
    ViewData["Title"] = "Wishlist";
}

@section Scripts
{
    <script src="~/js/wish/displaywish.js"></script>
}

<div id="header">
    <header>
        <h1>My Wishlist</h1>
        <link rel="stylesheet" href="~/css/displaywish.css" />
    </header>
    <a href="/Product/DisplayProduct"><u>Home</u></a> | <a href="/Logout/Index" id="logout"><u>Logout</u></a>
</div>
<div id="cart">
    <form action="/Cart/DisplayCart">
        <input type="submit" value="Cart: @Model.Count" class="buttonforcart" id="clickme" />
    </form>
</div>
<div id="body">
    @if (Model.WishList.Count == 0)
    {
        <span id="empty" style="display:block">
            <br /><br /><br />
            Your Wishlist Is Empty
        </span>
    }
    else
    {
        <span id="empty" style="display:none">
            <br /><br /><br />
            Your Wishlist Is Empty
        </span>
        <br />
        <table class="wish-table">
            @{
                foreach (Wishlist wish in Model.WishList) @* code for generating table *@
                {
                    <tr id="@wish.ProductId">
                        <td width="50%">
                            <h2><b>@wish.Product.Title</b></h2>
                            <br />
                            <img src="/img/@wish.Product.Image" class="image" />
                            <br />
                            <p>@wish.Product.Description</p>
                        </td>
                        <td>
                            <button cart_id="@wish.ProductId" type="button" class="button3 add-to-cart">Add to Cart</button>
                            <button remove_id="@wish.ProductId" type="button" class="button3 remove-from-wish">Remove from Wishlist</button>
                        </td>
                    </tr>
                }
            }
        </table>
    }
</div> 