@{
    ViewData["Title"] = "Login";
}

@model ShoppingCart.Models.User

@section Scripts
{
    <script src="~/js/login/index.js"></script>
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #000;
            padding: 20px 20px;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "form" } ))
        {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Username)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Username, new { id = "username" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Password, new { id = "password", type = "password" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right">
                    <input type="submit" name="name" value="login" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="font-weight:bold;color:red">
                    @ViewData["errmsg"]
                </td>
            </tr>
        </table>
        }

    </div>
</body>
</html>