@model ShoppingCart.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Gallery";

    if (Model.Products != null)
    {
        foreach (var product in Model.Products)
        {
            foreach (var wish in Model.Wishlists)
            {
                if (product.Id == wish.ProductId)
                {
                    product.Wish = true;
                }
            }
        }
    }
    else if (Model.SearchedProducts != null)
    {
        foreach (var product in Model.SearchedProducts)
        {
            foreach (var wish in Model.Wishlists)
            {
                if (product.Id == wish.ProductId)
                {
                    product.Wish = true;
                }
            }
        }
    }
}

@section Scripts
{
    <script src="~/js/product/displayproduct.js"></script>
}

<head>
    <link rel="stylesheet" href="~/css/displayproduct.css" />
</head>
<body>
    <header>
        <h1>Software Gallery</h1>
    </header>
    <div id="subheader">
        @if (Model.Name != null)
        {
            @:Hello, <b>@Model.Name</b>
            <a href="/Purchases/DisplayPurchases" id="checkout"><u>My Purchases</u></a> @:| <a href="/Wish/DisplayWish"><u>My Wishlist</u></a> | <a href="/Logout/Index" id="logout"><u>Logout</u></a>
        }
        else
        {
            <a href="/Login/Index"><u>Login</u></a>
        }
    </div>
    <div id="body">
        <form action="/Cart/DisplayCart">
            <input type="submit" value="Cart: @Model.Count" class="buttonforcart" id="clickme" />
        </form>
        <br />
        <div id="search">
            <form action="/Product/Search" id="search" method="POST" class="form">
                <input id="searchid" type="search" class="search-field" placeholder="Looking for?" name="search" value="@ViewData["search"]" />
                <button id="searchitem" type="submit" class="button2">
                    <span>Search</span>
                    <img src="/img/mglass.png" />
                </button>
            </form>
        </div>
    </div>
    <br />
    @{
        if (ViewBag.a == 1)
        {
            <table>
                @for (int i = 0; i < Model.Products.Count; i += 3)
                {
                    int j;
                    <tr>
                        @for (j = 0; j < 3 && i + j < Model.Products.Count; j++)
                        {
                            string url = "/img/" + Model.Products[i + j].Image;
                            <td>
                                <div>
                                    <img style="align-content:center" src=@url width="150" height="150" />
                                    <br /><br />
                                    <div style="align-content:center">
                                        <button class="button3 add-to-cart" id="@Model.Products[i + j].Id">
                                            Add to Cart
                                        </button>
                                    </div>
                                    <div style="align-content:center">
                                        @{
                                            if (Model.TopProducts != null)
                                            {
                                                for (int k = 0; k < Model.TopProducts.Count; k++)
                                                {
                                                    if (Model.TopProducts[k].ProductId == Model.Products[i + j].Id)
                                                    {
                                                        if (Model.TopProducts[k].Quantity == Model.Top3Qty[0])
                                                        {<span style="color:darkred"><b>BEST SELLING!</b></span> }

                                                        else if (Model.TopProducts[k].Quantity == Model.Top3Qty[1])
                                                        { <span style="color:orangered"><b>2nd BEST SELLING!</b></span> }

                                                        else if (Model.TopProducts[k].Quantity == Model.Top3Qty[2])
                                                        { <span style="color:darkgoldenrod"><b>3rd BEST SELLING!</b></span> }
                                                        else
                                                        { <span style="visibility:hidden"><b>NOT BEST SELLING!</b></span>}
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    @if (Model.Name != null) // generates wish icon according to loggedin status
                                    {
                                        if (Model.Products[i + j].Wish == false)
                                        {
                                            <img src="~/img/hearts_black.png" class="wish_icon" wish_id="@Model.Products[i + j].Id" />
                                        }
                                        else
                                        {
                                            <img src="~/img/hearts_color.png" class="wish_icon" wish_id="@Model.Products[i + j].Id" />
                                        }
                                    }
                                </div>
                                <br />
                                <div>
                                    <p style="text-align:justify"><b>@Model.Products[i + j].Title</b></p>
                                    <p style="text-align:justify">@Model.Products[i + j].Description</p>
                                    <p style="text-align:justify"><em>S$@Model.Products[i + j].Price</em></p>
                                </div>
                            </td>
                        }
                        @for (; j < 3; j++)
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        }
        else if (ViewBag.a == 2)
        {
            if (Model.SearchedProducts != null)
            {
                <table>
                    @for (int i = 0; i < Model.SearchedProducts.Count; i += 3)
                    {
                        int j;
                        <tr>
                            @for (j = 0; j < 3 && i + j < Model.SearchedProducts.Count; j++)
                            {
                                string url = "/img/" + Model.SearchedProducts[i + j].Image;
                                <td>
                                    <div>
                                        <img style="align-content:center" src=@url width="150" height="150" />
                                        <br /><br />
                                        <div style="align-content:center">
                                            <button class="button3 add-to-cart" id="@Model.SearchedProducts[i + j].Id">
                                                Add to Cart
                                            </button>
                                        </div>
                                        <div style="align-content:center">
                                            @{
                                                if (Model.TopProducts != null)
                                                {
                                                    for (int k = 0; k < Model.TopProducts.Count; k++)
                                                    {
                                                        if (Model.TopProducts[k].ProductId == Model.SearchedProducts[i + j].Id)
                                                        {
                                                            if (Model.TopProducts[k].Quantity == Model.Top3Qty[0])
                                                            {<span style="color:darkred"><b>BEST SELLING!</b></span> }

                                                            else if (Model.TopProducts[k].Quantity == Model.Top3Qty[1])
                                                            { <span style="color:orangered"><b>2nd BEST SELLING!</b></span> }

                                                            else if (Model.TopProducts[k].Quantity == Model.Top3Qty[2])
                                                            { <span style="color:darkgoldenrod"><b>3rd BEST SELLING!</b></span> }
                                                            else
                                                            { <span style="visibility:hidden"><b>NOT BEST SELLING!</b></span>}
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                        @if (Model.Name != null) // generates wish icon according to loggedin status
                                        {
                                            if (Model.SearchedProducts[i + j].Wish == false)
                                            {
                                                <img src="~/img/hearts_black.png" class="wish_icon" wish_id="@Model.SearchedProducts[i + j].Id" />
                                            }
                                            else
                                            {
                                                <img src="~/img/hearts_color.png" class="wish_icon" wish_id="@Model.SearchedProducts[i + j].Id" />
                                            }
                                        }
                                    </div>
                                    <br />
                                    <div>
                                        <p style="text-align:justify"><b>@Model.SearchedProducts[i + j].Title</b></p>
                                        <p style="text-align:justify">@Model.SearchedProducts[i + j].Description</p>
                                        <p style="text-align:justify"><em>S$@Model.SearchedProducts[i + j].Price</em></p>
                                    </div>
                                </td>
                            }
                            @for (; j < 3; j++)
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </table>
            }
        }
        else
        {
            <p>The item you are searching for is not found.</p>
            <a href="/Product/DisplayProduct"><b>Back to Gallery</b></a>
        }
    }
</body>