@{
    ViewData["Title"] = "View Cart";
    string total = (string)ViewData["total"];
    bool loggedIn = (bool)ViewData["loggedin"];
    List<Cart> cart = (List<Cart>)ViewData["cart"];
    List<string> amt = new List<string>();
    foreach (var item in cart)
    {
        amt.Add((item.Product.Price * item.Quantity).ToString("#0.00"));
    }
}

@section Scripts
{
    <script src="~/js/cart/displaycart.js"></script>
}

<style>
    #empty {
        text-align: center;
        font-weight: bold;
        font-size: 36px;
    }

    .total {
        font-size: 20px;
        position: fixed;
        top: 75px;
        right: 50px;
    }

    .product_container img {
        width: 200px;
        height: 200px;
        border: solid 1px black;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    table {
        margin: auto;
    }

    .remove_icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-left: 200px;
    }

    .product_container {
        border: solid black 2px;
        display: block;
        margin: auto;
        width: 300px;
        padding: 10px;
    }

    .quantity {
        width: 40px;
    }

    td {
        padding: 5px;
    }

    .details {
        display: block;
        margin-left: 30px;
        padding: 10px;
    }
</style>

<div id="header">
    <header>
        <h1>View Cart</h1>
    </header>
    <a href="/Product/DisplayProduct"><u>Continue Shopping</u></a> |
    @if (loggedIn)
    {
        <a href="/Purchases/DisplayNewPurchases" id="checkout"><u>Checkout</u></a>
    }
    else
    {
        <a href="/Login/Index2" id="checkout"><u>Checkout</u></a>
    }
    <span class="total"><b>Total: $<span id="total_price">@total</span></b></span>
    @if (loggedIn)
    {
        <table>
            <tr>
                <td><input id="couponCode" name="couponCode" placeholder="Enter Coupon Code..."/></td>
                <td><input id="validBtn" type="submit" /></td>
            </tr>
            <tr>
                <td colspan="2"><span id="msg" style="font-weight:bold;color:red"></span></td>
            </tr>
        </table>
    }
</div>
<div id="body">
    @if (total == "0.00")
    {
        <span id="empty" style="display:block">
            <br /><br /><br />
            Your Cart Is Empty
        </span>
    }
    else
    {
        <span id="empty" style="display:none">
            <br /><br /><br />
            Your Cart Is Empty
        </span>
        <br />
        <table>
            @for (int i = 0; i < cart.Count; i++)
            {
                <tr id=@cart[i].ProductId>
                    <td>
                        <div class="product_container text-center">
                            @{
                                string link = ViewData["images_prefix"] + cart[i].Product.Image;
                            }
                            <img src="@link"/>
                            <b>@cart[i].Product.Title</b>
                            <br />
                            @cart[i].Product.Description
                        </div>
                    </td>
                    <td>
                        <div class="details">
                            Unit Price: $<span class="price" price_id=@cart[i].ProductId>@cart[i].Product.Price</span>
                            <br /><br />
                            Quantity: <input class="quantity" type="number" value=@cart[i].Quantity min="1" quantity_id=@cart[i].ProductId>
                            <br /><br />
                            Amount: $<span class="amount" amount_id=@cart[i].ProductId>@amt[i]</span>
                        </div>
                    </td>
                    <td><image src="/img/remove_icon.png" class="remove_icon" product_id=@cart[i].ProductId /></td>
                </tr>
            }
        </table>
    }
</div>